.expense-item {
  /* contoh style untuk div */
  /* gunakan flex untuk pengaturan item-item didalam content*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding dan margin gunakan rem */
  padding: 0.5rem;
  margin: 1rem 0;

  /* border radius dan bg color untuk pemanis*/
  background-color: #4b4b4b;
}

.expense-item__description {
  /* seperti biasa karena dia adalah suatu container kita beri display flex*/
  display: flex;
  flex-direction: column;

  /* gap diberikan agar ada space antar display flex*/
  gap: 1rem;

  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;

   /* flex is the shorthand for flex-grow, flex-shrink and flex-basis.  dan kita gunakan 1 biasanya*/
  flex: 1;
}

.expense-item h2 {
  /* untuk label seperti ini kita gunakan color font-size untuk melakukan styling*/
  color: #3a3a3a;
  font-size: 1rem;
  margin: 0 1rem;
  color: white;

  /* Kita beri flex 1 yaitu dimana komponen lain yang selain diberi flex 1 ini akan memakai width secukupnya, sedangkan yang diberi flex: 1 akan mengambil space yang tersisa */
  /* https://stackoverflow.com/questions/37386244/what-does-flex-1-mean#:~:text=If%20an%20element%20has%20flex,full%20space%20given%20to%20it. */
  flex: 1;
}

.expense-item__price {
  /* untuk div yang hanya mempunyai satu content seperti label dibawah ini kita bisa menggabungkan styling label dan containernya */
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

/* dibawah ini adalah styling yang digunakan ketika width nya lebih besar */
@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
